---
Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
AlignTrailingComments: true
ReflowComments: false
IndentWidth: 4
ColumnLimit: 2048
NamespaceIndentation: None
SortIncludes: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakConstructorInitializers: BeforeComma
BinPackParameters: true
BinPackArguments: true
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
...
